<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PNG ADJUST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='png_adjust.css') }}">
</head>
<body>
    <div class="container">
        <h1>PNG ADJUST</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="new_name" id="new_name">
            <br>
            <input type="file" name="images" id="images" multiple>
            <br>
            <input type="submit" value="BOOOM">
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
    </div>
</body>
</html>
